
<mat-drawer-container autosize>
  <mat-drawer #drawer  [opened]="!(isHandset$ | async)" [mode]="(isHandset$ | async) ? 'over' : 'side'">
  <mat-toolbar class="toolbar" color="accent">
    <button mat-icon-button class="example-icon" (click)="drawer.toggle()" aria-label="Example icon-button with menu icon">
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>

    <mat-nav-list>
      <a mat-list-item *ngFor="let link of links" [routerLink]="link.place" routerLinkActive="active"> {{ link.name }} </a>
   </mat-nav-list>
  </mat-drawer>

  <mat-toolbar class="toolbar" color="primary">
    <button mat-icon-button class="example-icon" (click)="drawer.toggle()" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>FH Cheatsheet</span>
  </mat-toolbar>
  <router-outlet></router-outlet>

</mat-drawer-container>

