
<br>
<div class="container">
    <div class="row">
        <div class="col-6 col-md-4 col-lg-3 col-xl-2" *ngFor="let link of links" >
            <a color="primary" mat-raised-button [routerLink]="link.place" routerLinkActive="active"> {{ link.name }} </a>
        </div>
    </div>
</div>
