<mat-tab-group #tabgroup dynamicHeight>
    <mat-tab label="Kennzahlen">
        <fh-card>
            <div class="col-12">
                <mat-card>
                    <h1>Eingabe:</h1>
                </mat-card>
            </div>
    
        </fh-card>
        <div>
            <fh-card class="inputs">
                <div class="col-12 col-md-6 col-lg-4 col-xl-3 align-self-center" >
                <mat-form-field>
                    <mat-label>6. Umsatzerlöse</mat-label>
                    <input [(ngModel)]="umsatzErloese" matInput type="number" class="example-right-align" placeholder="0">
                    <span matSuffix>€</span>
                  </mat-form-field>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3 align-self-center" >
        
                  <mat-form-field >
                    <mat-label>1. Betriebsergebnis</mat-label>
                    <input [(ngModel)]="betriebsErgebnis" matInput type="number" class="example-right-align" placeholder="0">
                    <span matSuffix>€</span>
                  </mat-form-field>
                </div>
        
                <div class="col-12 col-md-6 col-lg-4 col-xl-3 align-self-center" >
                    <mat-form-field>
                        <mat-label>17. Jahresüberschuss</mat-label>
                        <input [(ngModel)]="jahresUeberschuss" matInput type="number" class="example-right-align" placeholder="0">
                        <span matSuffix>€</span>
                      </mat-form-field>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 col-xl-3 align-self-center" >
            
                      <mat-form-field>
                        <mat-label>A. Eigenkapital</mat-label>
                        <input [(ngModel)]="eigenKapital" matInput type="number" class="example-right-align" placeholder="0">
                        <span matSuffix>€</span>
                      </mat-form-field>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 col-xl-3 align-self-center" >
            
                        <mat-form-field>
                          <mat-label>Gesamtkapital (Summe Passiva)</mat-label>
                          <input [(ngModel)]="gesamtKapital" matInput type="number" class="example-right-align" placeholder="0">
                          <span matSuffix>€</span>
                        </mat-form-field>
                      </div>
        
                      <div class="col-12 col-md-6 col-lg-4 col-xl-3 align-self-center" >
            
                        <mat-form-field>
                          <mat-label>II. Liquide Mittel</mat-label>
                          <input [(ngModel)]="liquideMittel" matInput type="number" class="example-right-align" placeholder="0">
                          <span matSuffix>€</span>
                        </mat-form-field>
                      </div>
        
                      <div class="col-12 col-md-6 col-lg-4 col-xl-3 align-self-center" >
            
                        <mat-form-field>
                          <mat-label>C. kurzfr. Verbindlichkeiten</mat-label>
                          <input [(ngModel)]="kurzFristVerb" matInput type="number" class="example-right-align" placeholder="0">
                          <span matSuffix>€</span>
                        </mat-form-field>
                      </div>
                      <div class="col-12 col-md-6 col-lg-4 col-xl-3 align-self-center" >
            
                        <mat-form-field>
                          <mat-label>B. Umlaufvermögen</mat-label>
                          <input [(ngModel)]="umlaufVermoegen" matInput type="number" class="example-right-align" placeholder="0">
                          <span matSuffix>€</span>
                        </mat-form-field>
                      </div>
                      <div class="col-12 col-md-6 col-lg-4 col-xl-3 align-self-center" >
            
                        <mat-form-field>
                          <mat-label>A.III. Anlagevermögen</mat-label>
                          <input [(ngModel)]="anlageVermoegen" matInput type="number" class="example-right-align" placeholder="0">
                          <span matSuffix>€</span>
                        </mat-form-field>
                      </div>
            </fh-card>
            <br>
            <fh-card>
                <div class="col-12">
                    <mat-card>
                        <h1>Ergebnisse:</h1>
                    </mat-card>
                </div>
        
            </fh-card>
            <fh-card>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3 align-self-center" >
                    <mat-form-field appearance="fill">
                        <mat-label>Umsatzrendite</mat-label>
                        <input [(ngModel)]="umsatzRendite" readonly matInput type="number" class="example-right-align" placeholder="0">
                        <span matSuffix>%</span>
                      </mat-form-field>
                    </div>
        
                    <div class="col-12 col-md-6 col-lg-4 col-xl-3 align-self-center" >
                        <mat-form-field appearance="fill">
                            <mat-label>Eigenkapitalrendite</mat-label>
                            <input [(ngModel)]="eigenkapitalRendite" readonly matInput type="number" class="example-right-align" placeholder="0">
                            <span matSuffix>%</span>
                          </mat-form-field>
                        </div>
        
                        <div class="col-12 col-md-6 col-lg-4 col-xl-3 align-self-center" >
                            <mat-form-field appearance="fill">
                                <mat-label>EigenkapitalQuote</mat-label>
                                <input [(ngModel)]="eigenkapitalQuote" readonly matInput type="number" class="example-right-align" placeholder="0">
                                <span matSuffix>%</span>
                              </mat-form-field>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 col-xl-3 align-self-center" >
                            <mat-form-field appearance="fill">
                                <mat-label>Liquiditätsgrad 1.</mat-label>
                                <input [(ngModel)]="lq1" readonly matInput type="number" class="example-right-align" placeholder="0">
                              </mat-form-field>
                        </div>
        
                        <div class="col-12 col-md-6 col-lg-4 col-xl-3 align-self-center" >
                            <mat-form-field appearance="fill">
                                <mat-label>Liquiditätsgrad 3.</mat-label>
                                <input [(ngModel)]="lq3" readonly matInput type="number" class="example-right-align" placeholder="0">
                              </mat-form-field>
                        </div>
        
                        <div class="col-12 col-md-6 col-lg-4 col-xl-3 align-self-center" >
                            <mat-form-field appearance="fill">
                                <mat-label>Anlagedeckungsgrad</mat-label>
                                <input [(ngModel)]="anlageDeckungsGrad" readonly matInput type="number" class="example-right-align" placeholder="0">
                                <span matSuffix>%</span>
                                
                            </mat-form-field>
                        </div>
            </fh-card>
        </div>

    </mat-tab>
    <mat-tab disabled label="...">....</mat-tab>
  </mat-tab-group>

